@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/*---------------------------------------- HEADER ----------------------------------------*/
header{
    background-color: #586d7c;
    display: flex;
    justify-content: center;
    padding: 0% 0% 4% 0%;
}


.contenido_header{
    width: 75%;
}

.titulo1{
    color: #fff;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#contenido_nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    width: 30%;
}

nav a{
    font-size: 16px;
    font-family: verdana;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#FFF;
    background-color: #586d7c;
	border-radius:30px;
    padding:2px 8px;
}

nav a:hover{
	background-color:#222d35;
}

.textos{
    width: 50%;
}

.titulo{
    color: #fff;
    font-family: verdana;
    font-size: 40px;
    font-weight: 600;
}

.parrafo1{
    margin-top: -30px;
}

.parrafo1 p{
    color: rgb(199, 195, 195);
    font-size: 15px;
    line-height: 20px;
    font-family: verdana;
}

.text2{
    color: rgb(153, 152, 152);
    font-size: 15px;
    line-height: 20px;
    font-family: verdana;
}

.cotenido_flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transform: translateY(52px);
}

.href{
    font-family: verdana;
    font-size: 14px;
    color: #fff;
    text-decoration-line:underline;
    font-weight: 700;
}

#or{
    font-family: verdana;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.contenido_boton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.contenido_boton a{
    text-decoration: none;
    color:#FFF;
    background-color:rgb(76, 160, 216);
	border-radius:30px;
    padding:11px 24px;
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
    font-family: verdana;
}

/*-------------------------------------- SECTION ------------------------*/
.contenedor{
    border: 0px solid rgb(143, 143, 143);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 80px;
    margin-top: -4px;
}

.páginas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logos{
    height: 45px;
}

.contenedor2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(250, 250, 250);
}

.logo2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.titulos1{
    font-size: 20px;
    font-family: verdana;
    color: rgb(66, 66, 66);
    text-align: center;
}

.parrafos{
    color: rgb(141, 141, 141);
    font-size: 16px;
    font-family: verdana;
    text-align: center;
    line-height: 25px;
    top: -25px;
}

.boton{
    text-decoration: none;
    color:#FFF;
    background-color:rgb(57, 138, 192);
	border-radius: 5px;
    padding:21px 24px;
    font-family: verdana;
}

/*-------------------------------- ARTICLE -----------------------------------------*/
article{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.contenido_articulo{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido_articulos2{
    margin-top: 90px;
}



.caja_titulo{
    display: flex;
    justify-content: space-around;
    width: 210px;
}

.text4{
    font-size: 17px;
    font-family: verdana;
    color: rgb(63, 63, 63);
    position: relative;
}

.img5{
    height: 30px;
    position: relative;
    top: 10px;
}

.imagenes{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.caja_imagen{
    margin-top: 20px;
    height: 210px;
    width: 240px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 8px solid rgb(236, 236, 236);
}

.caja_imagen > .img4{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.titulos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Wifi, .Twitter{
    display: flex;
    justify-content: space-between;
    width: 29%;
}

.Twitter{
    width: 32%;
    transform: translate(24%);
}

.shape03{
    height: 30px;
    width: auto;
}



.caja_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 40px;
}

.caja1{
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}

.imagen1{
    height: 210px;
    width: 240px;
    overflow: hidden;
    border: 8px solid rgb(247 245 245);
}


.imagen1 > .img6{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.notificacion{
    width: 68%;
    padding: 0% 0% 0% 5%;
}

.notificacion p{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
    line-height: 25px;
}

#container{
    transform: translateY(-13%);
}

#container1{
    transform: translateY(-140%);
}

#container2{
    transform: translateY(-257%);
}

#fecha1, #fecha2, #fecha3{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
}

#fecha1{
    transform: translateY(-100%);
}
#fecha2{
    transform: translateY(-541%);
}
#fecha3{
    transform: translateY(-15pc);
}

.notificacion a{
    color: rgb(64, 177, 221);
    font-size: 15px;
    font-family: verdana;
    line-height: 25px;
    text-decoration: none;
}

h2{
    color: rgb(152 148 148);
    font-size: 17px;
    font-family: verdana;
}


.fecha{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
}

.texto11{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
    line-height: 25px;
}

#older{
    font-size: 16px;
    font-family: verdana;
    color: rgb(0, 155, 202);
}
#Follow{
    font-size: 16px;
    font-family: verdana;
    color: rgb(0, 155, 202);
    transform: translateY(-15pc);
}

span{
    color: #000;
    line-height: 40px;
    font-size: 16px;
    font-family: verdana;
}

.span2{
    color: rgb(151, 149, 149);
}

.caja2{
    height: 110px;
    position: relative;
    top: -100px;
}

.caja3{
    height: 110px;
    position: relative;
    top: -200px;
}
/*----------------------------------footer---------------------------------*/
footer{
    margin-top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr{
    background-color: rgb(240, 238, 238);
    height: 0px;
    width: 85%;
}

.contenedorf{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copy{
    color: rgb(151, 149, 149);
    font-size: 16px;
    font-family: verdana;
}

#contenido_img_footer{
    display: flex;
    justify-content: flex-end;
}

.contenido_img_footer{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    width: 30%;
}

.img_footer{
    height: 30px;
    width: auto;
}


#enlaces{
    grid-template-columns: 20% 20% 20% 20% 20%;
}